body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #FFF6D8; /* jaune pastel */
    color: #333;
}

header {
    background-color: #B22222; /* rouge cerise */
    color: white;
    text-align: center;
    padding: 30px 20px;
}

section {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    color: #B22222;
    border-bottom: 2px solid #B22222;
    padding-bottom: 5px;
}

h3 {
    color: #444;
    margin-top: 20px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 6px;
}

footer {
    background-color: #B22222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
